@import "./font.css";
@import "./index.css";

.docs-story,
.sb-show-main {
  @apply bg-gray-300;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html[data-mode="dark"] .docs-story,
html[data-mode="dark"] .sb-show-main {
  @apply bg-gray-900;
}

@media (prefers-color-scheme: dark) {
  &:not([data-mode="light"]) {
    .docs-story,
    .sb-show-main {
      @apply bg-gray-900;
    }
  }
}
