@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import '../src/index.css';

.docs-story,
.sb-show-main {
	@apply bg-white;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: normal;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}
