@import "./font.css";
@import "./variables.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.docs-story,
.sb-show-main {
  @apply bg-primary-background text-black-100;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@keyframes loaderB {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(30deg);
  }
  16% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33% {
    transform: rotate(120deg);
  }
  41% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58% {
    transform: rotate(210deg);
  }
  66% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83% {
    transform: rotate(300deg);
  }
  91% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
