@import "./font.css";
@import "./variables.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.docs-story,
.sb-show-main {
  @apply bg-primary-background text-black-100;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

@keyframes loaderB {
  0% {
    transform: rotate(0deg);
  }
  8% {
    transform: rotate(30deg);
  }
  16% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33% {
    transform: rotate(120deg);
  }
  41% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58% {
    transform: rotate(210deg);
  }
  66% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83% {
    transform: rotate(300deg);
  }
  91% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

textarea::-webkit-resizer {
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="RoundedCorner"><path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M9.375 0C9.72018 0 10 0.279822 10 0.625V3.125C10 6.92196 6.92196 10 3.125 10H0.625C0.279822 10 0 9.72018 0 9.375C0 9.02982 0.279822 8.75 0.625 8.75H3.125C6.2316 8.75 8.75 6.2316 8.75 3.125V0.625C8.75 0.279822 9.02982 0 9.375 0Z" fill="%231C1C1C" fill-opacity="0.1"/></g></svg>');
  transition: all 0.15s ease;
}
textarea:hover::-webkit-resizer {
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="RoundedCorner"><path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M9.375 0C9.72018 0 10 0.279822 10 0.625V3.125C10 6.92196 6.92196 10 3.125 10H0.625C0.279822 10 0 9.72018 0 9.375C0 9.02982 0.279822 8.75 0.625 8.75H3.125C6.2316 8.75 8.75 6.2316 8.75 3.125V0.625C8.75 0.279822 9.02982 0 9.375 0Z" fill="%231C1C1C" fill-opacity="0.4"/></g></svg>');
}
